#title {
    min-height: 5em;
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
}


#card1 {
    background: #ffde52;
    opacity: 0.9;
}

 #card2,
 #card3,
 #card4,
 #card5
 {
    background: #baffc6;
     opacity: 0.9;
}

#imageOne {
    width: 100px;
    height: 100px;
}

 #imageTwo,
 #imageThree,
 #imageFour,
 #imageFive
 {
     width: 70px;
     height: 70px;
 }

 #cityname {
     color: white;
    text-shadow: 2px 2px 6px #001101;
 }

